.profile{
    display: flex;
    flex-direction: column;
    padding: 40px  5px ;
    height: fit-content;
    width: 950px;
}
.profileContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    
}

@media (max-width:1200px) {
    .profile{
        width: 900px;
    }
}
@media (max-width:1000px) {
    .profile{
        width: 750px;
        padding-top: 120px;
    }
}